//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

configuration {
  modi: "window,drun,ssh,combi";
  theme: "Arc-Dark";
  font: "Terminus 15";
  combi-modi: "window,drun,ssh";
}
