//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"

configuration {
  modi: "window,drun,ssh,combi";
  font: "Iosevka 15";
  combi-modi: "window,drun,ssh";
}

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
